.hero {
  background-image: radial-gradient(#ff0033 20%, yellow 70%, green 90%);;
}

.hero-body {
    flex: 1 0 1rem;
    padding: 3rem 1.5rem;
    text-align: center;
}

.title {
  color: #fff;
}

form {
    margin-bottom: 50px;
}

#submit {
  width: 100%;
}

main {
    padding: 30px;
}  

.box {
    background-color: slategray;
}

#weather {
    margin: auto;
    border: 2px solid black;
    background-color: #f199aa80;
}

.current-city-data {
    min-height: 300px;
}

#forecast {
    margin-top: 20px;
}

tr {
    margin: 5px;
}