.hero {
    background-image: linear-gradient(navy, black);
}

.hero-body {
    flex: 1 0 1rem;
    padding: 3rem 1.5rem;
    text-align: center;
}

.title {
    color: #fff;
    font-size: 3rem;
}

form {
    margin-bottom: 50px;
}

#submit {
    width: 100%;
}

main {
    padding: 30px;
}  

.box {
    background-color: slategray;
    border: 2px solid black;
}

tr {
    border: 5px solid #222222
}

#weather {
    margin: auto;
    border: 2px solid black;
    background-color: #485fc736;
    min-height: 300px;
    max-width: 1200px;
}

#icon {
    margin-left: 50px;
}

#uv-index {
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

#forecast {
    margin-top: 20px;
}

.card {
    margin: 2px;
    border: 2px solid black;
    background-color: #485fc736;
    text-align: center;
}